<div  class="stock-inventory">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <stock-branch [parent]="form">

        </stock-branch>
        <stock-selector [parent]="form"
                        [products]="products"
                        (addItem)="addStock($event)">

        </stock-selector>
        <stock-products [parent]="form"
                        (removeItem)="removeStock($event)">

        </stock-products>
        
        
        
        <div class="stock-inventory__buttons">
            <button type="submit" [disabled]="form.invalid">
                Order
            </button>
        </div>

        <pre>{{form.value | json}}</pre>
    </form>
</div>